<!DOCTYPE html>
<html ng-app="cardealership">

<head>
  <title>Car Dealership</title>
  <meta charset="utf-8">
  <base href="/" />
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ngApp/css/site.css"/>
</head>

<body>
  <!-- <div class="container">
        <h1>Car Dealership</h1>
        <div>
          <a href="/">Home</a> /
          <a href="/about">About</a> /
          <a href="/cars">Cars</a>
      </div> -->

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Car Dealership</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cars">Cars</a></li>
            <li><a href="#">Page 3</a></li>
          </ul>
        </div>
      </nav>

        <hr />

        <ui-view></ui-view>
  </div>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
  <script src="/bower_components/angular-touch/angular-touch.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

  <script src="/ngApp/app.js"></script>
  <script src="/ngApp/controllers/controllers.js"></script>
  <script src="/ngApp/services/services.js"></script>
  <script src="/ngApp/controllers/CarDetailsController.js" charset="utf-8"></script>

</body>

</html>
